{% load webapp_tags %}

<!-- Header -->
{% include "webapp/header.html" %}

<div class="container container-xtra-small container-text-alignment container-center">
<!-- Title -->
	<h3 class="page-title">{{ title }}</h3>
	<form action="{% url 'webapp:contact' %}" method="POST" class="post-form">
		{% csrf_token %}

		{{ form.non_field_errors }}
		<div class="col-md-12 col-lg-12 input-container">
			{{ form.item.errors }}
			{{ form.item }}
		</div>
		<div class="col-md-4 col-lg-4 input-container input-container-left">
			{{ form.name.errors }}
			{{ form.name }}
		</div>

		<div class="col-md-4 col-lg-4 input-container input-container-middle">
			{{ form.email.errors }}
			{{ form.email }}
		</div>

		<div class="col-md-4 col-lg-4 input-container input-container-right">
			{{ form.phone.errors }}
			{{ form.phone }}
		</div>

		<div class="col-md-12 col-lg-12 input-container">
			{{ form.message.errors }}
			{{ form.message }}
		</div>

		<div class="col-md-12 col-lg-12 input-container">
			{{ form.location.errors }}
			{{ form.location }}
		</div>

		<div class="required">* Required Fields</div>

        <button type="submit" class="btn btn-default">Send</button>
    </form>


</div>
<!--  Footer  -->
{% include "webapp/footer.html" %}