{% load staticfiles %}

<!-- Footer Navigation -->
		<footer>
			<div class="col-lg-6 company-info">
				<p>
                    Sepro Mineral Systems Corporation Canada</br>
                    101A -9850 201 Street Langley, British Columbia V1M 4A3</br>
                    Office:&nbsp;+(1) 604-888-5568</br> 
                    N.A. Toll Free: +(1) 800-900-5568</br>
                    Fax:&nbsp;+(1) 604-888-5521
               	</p>

			</div>
			<div class="col-lg-6 social">
				<p>
                    <a href="https://www.facebook.com/pages/Sepro-Mineral-Systems/201074393248171" class='social-logo facebook'></a>
                    <a href="http://www.youtube.com/user/SeproMineralSystems" class='social-logo youtube'></a>
                    <a href="http://www.linkedin.com/company/1605152?trk=tyah&trkInfo=tas%3Asepro%20mineral" class='social-logo linkedin'></a>
               	</p>
			</div>

			<div class="col-lg-12 footer-disclaimer">
				<div class="col-sm-12 col-lg-6 push-lg-6">
					<p>Copyright 2017 - All rights reserved.</p>
				</div>
				<div class="col-sm-12 col-lg-6 pull-lg-6">
					<p>
						<a href="{% url 'webapp:terms'%}" class=''>Terms of Usage</a> |
						<a href="{% url 'webapp:policy'%}" class=''>Private Policy</a> |
						<a href="{% url 'webapp:disclaimer'%}" class=''>Disclaimer</a>
					</p>
				</div>
			</div >
		</footer>
<!-- Closing Footer -->
	</body>
	

</html>