<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
    	<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="google-site-verification" content="2NKjIo3OqlCMBQ7bOxnG-YWZRfG4BamUKTzHGAkfLuE" />
    	<title>MiningDeals</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/master.css' %}" />
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'webapp/javascript/webapp.js' %}"></script>

    
  	</head>
        <!-- Add Script Here -->
    <!-- Latest compiled and minified JavaScript -->
      
  	<body>

      <header>

        <nav class="navbar navbar-fixed-top">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapseNavbar">
              &#9776;
            </button>
            <img class="home-logo-small hidden-sm-up "src="{% static 'webapp/image/Logo.png' %}" alt="Home"></a>
            <div class="collapse navbar-toggleable-xs" id="CollapseNavbar">
              <ul class="nav navbar-nav">

                {% if current == 'home'%}
                <li class="nav-item nav-home-text nav-item-link .nav-md active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                {% else %}
                <li class="nav-item nav-home-text nav-item-link .nav-md">
                  <a class="nav-link" href="/">Home</a>
                </li>
                {% endif %}

                {% if current == 'category' or current == 'product' %}
                <li class="nav-item nav-item-link nav-lg .nav-md active">
                  <a class="nav-link" href="{% url 'webapp:category' %}">Products</a>
                </li>
                {% else %}
                <li class="nav-item nav-item-link nav-lg .nav-md">
                  <a class="nav-link" href="{% url 'webapp:category' %}">Products</a>
                </li>
                {% endif %}

                <li class="nav-item nav-home-logo nav-lg">
                  <a class="nav-link" href="/">
                    <img class="home-logo"src="{% static 'webapp/image/Logo.png' %}" alt="Home"></a>
                </li>

                {% if current == 'contact' %}
                <li class="nav-item nav-item-link nav-lg .nav-md active">
                  <a class="nav-link" href="{% url 'webapp:contact' %}">Contact Us</a>
                </li>
                {% else %}
                <li class="nav-item nav-item-link nav-lg .nav-md">
                  <a class="nav-link" href="{% url 'webapp:contact' %}">Contact Us</a>
                </li>
                {% endif %}

              </ul>
            </div>
          </nav>

          
      </header>


      

      
  		
  		
