{% load staticfiles %}

<!-- Header -->
{% include "webapp/header.html" %}

<!-- Title -->
<div class="banner">
	<h1 class="banner-title">“Your most reliable source for quality surplus and used equipment.”</h1>
</div>

<div class="container index-description container-text-alignment container-xtra-small container-center">

	<h2> About Us </h3>
	<p>&nbsp;</p>

	{{ home_description.home_description | safe }}

	<a href="{% url 'webapp:category' %}" class="btn btn-primary">SEE OUR INVENTORY</a>
</div>

<!--  Footer  -->
{% include "webapp/footer.html" %}