{% load webapp_tags %}


<!--  List Paging  -->
{% if latest_post_list %}
<div class="pagination-container">
	<nav aria-label="Page navigation">
		  <ul class="pagination">
		  		{% if current_page != 1 %}
			    <li class="page-item">
				      <a class="page-link" href="?page={{ firstpage }}&search={{ search_terms }}" aria-label="First">
					        <span aria-hidden="true">&laquo;</span>
					        <span class="sr-only">First Page</span>
				      </a>
			    </li>
			    <li class="page-item">
				      <a class="page-link" href="?page={{ previous_page }}&search={{ search_terms }}" aria-label="Previous">
					        <span aria-hidden="true">&lsaquo;</span>
					        <span class="sr-only">Previous Page</span>
				      </a>
			    </li>
			    {% endif %}

			    	<!--  Page Numbers  -->	
				{% for page_number in pages %}
					{% if current_page == page_number %}
						<li class="page-item active">
					      	<a class="page-link" href="?page={{ current_page }}&search={{ search_terms }}">{{ current_page }}</a>
					    </li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ page_number }}&search={{ search_terms }}">{{ page_number }}</a></li>
					{% endif %}
				{% endfor %}

					<!--  Next Page and Last Page  -->	
				{% if current_page != last_page %}
					<li class="page-item">
				      <a class="page-link" href="?page={{ next_page }}&search={{ search_terms }}" aria-label="Next">
					        <span aria-hidden="true">&rsaquo;</span>
					        <span class="sr-only">Next Page</span>
				      </a>
			    	</li>
					<li class="page-item">
				      <a class="page-link" href="?page={{ last_page }}&search={{ search_terms }}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					        <span class="sr-only">Last Page</span>
				      </a>
			    	</li>
				{% endif %}
		  </ul>
	</nav>
</div>
{% endif %}
	<!--  End Paging -->
