{% load webapp_tags %}
	<div class="row">
		<h3 class="page-title">{{ title }}</h3>
		{% if latest_post_list %}
			{% for post in latest_post_list %}
			  	<div class="card">
					{% with post.picture_set.all|first as picture %}
					<div class="img-container">
						<img src="{{ picture.picture.url }}">
					</div>
					{% endwith %}
					<div class="card-block">
				    	<h4 class="card-title card-back"><a href="{% url 'webapp:product' post.product_id %}?cat={{ category }}">{{ post.name }}</a></h4>
				    </div>
				    <div class="card-block card-img-overlay">
			  			<h4 class="card-title"><a href="{% url 'webapp:product' post.product_id %}?cat={{ category }}">{{ post.name }}</a></h4>
					  	<h6 class="card-subtitle">Price: {{ post.price }}</h6>
					  	<h6 class="card-subtitle">Quantity: {{ post.quantity }}</h6>
					    <p class="card-text">{{ post.description|safe|truncatewords:100 }}</p>
					</div>
			 	</div>
			{% endfor %}
		{% else %}
		    <p>No posts are available.</p>
		{% endif %}

	</div>
