<!-- Header -->
{% include "webapp/header.html" %}

<!--  Post List  -->
<div class="container">
			<div class='col-md-3 col-lg-2 sidebar-div'> 
				{% include "webapp/sidebar.html" %}
			</div>

			<!-- List Posts-->
			<div class='col-md-9 col-lg-10 content-div'> 
				{% include "webapp/post_listing.html" %}

				{% include "webapp/paging.html" %}
			</div>
			<!--  Add Paging System -->
</div>
<!--  Footer  -->
{% include "webapp/footer.html" %}