{% load webapp_tags %}

<!-- Header -->
{% include "webapp/header.html" %}
<div class="container">
<!-- Title -->
	<div class='col-md-3 col-lg-2 sidebar-div'> 
	{% include "webapp/sidebar.html" %}
	</div>
	<div class='col-md-9 col-lg-10 content-div container-text-alignment container-center'> 
		
		<ul class="post-information">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<a href="{% url 'webapp:category_view' cat_id %}">{{ category_name }}</a> >> <a href="{% url 'webapp:product' product.product_id %}?cat={{ cat_id }}">{{ product.name }}</a>
			</div>
			<!-- Carousel -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
				<ol class="carousel-indicators">

					{% for picture in product.picture_set.all %}
						{% if forloop.counter0 == 0 %}
							<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
						{% else %}
							<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
						{% endif %}
					{% endfor %}
				</ol>
				<div class="carousel-inner" role="listbox">

					{% for picture in product.picture_set.all %}
						{% if forloop.counter == 1 %}
							<div class="carousel-item active">
						  		<img class="carousel-img img-responsive center-block" src="{{ picture.picture.url }}" alt="Slide {{ forloop.counter }}">
							</div>
						{% else %}
							<div class="carousel-item">
						  		<img class="carousel-img img-responsive center-block" src="{{ picture.picture.url }}" alt="Slide {{ forloop.counter }}">
							</div>
						{% endif %}
					{% endfor %}

				</div>
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="carousel-button icon-prev " aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="carousel-button icon-next" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<!-- Post Information -->
			<h3 class="post-title">{{ product.name }}</h3>
			<li>Product ID: {{ product.item_number }}
			<li>Category:{% for category in product.categories.all %} <a href="{% url 'webapp:category_view' category.cat_id %}">{{ category.name }}</a>{% endfor %}</li>
			<li>Price: {{ product.price }}</li>
			<li>Quantity: {{ product.quantity }}</li>
		</ul>
		
		<p>
			{{ product.description|safe|linebreaks }}
		</p>

		<a href="{% url 'webapp:contact' %}?item={{ product.name|replaceSpaceUnderscore }}" class="btn btn-primary">Inquire</a>
	</div>
</div>
<!--  Footer  -->
{% include "webapp/footer.html" %}