<!-- Add Sidebar of Categories -->
{% if category_list %}
	<ul class='sidebar'>
		<form method="get" action="{% url 'webapp:category_view' 0 %}">
			<label for="id_q">Search:</label>
        		<input type="text" name="search" id="id_q"/>
        		<input type="submit" value="Submit"/>
        </form>
        
		<li>
			<h5 id="category-list">Categories</h5>
		</li>
		<div id="sidebar-item-list">
		{% if category == "0" %}
		<li class="sidebar-item active">
			<a class="sidebar-link" href="{% url 'webapp:category'%}">All Products</a>
		</li>
		{% else %}
		<li class="sidebar-item">
			<a class="sidebar-link" href="{% url 'webapp:category'%}">All Products</a>
		</li>
		{% endif %}

  		{% for category, index in category_list %}

    		{% ifequal title category.name %}
			<li class="sidebar-item active">
    		<a class="sidebar-link" href="{% url 'webapp:category_view' category.cat_id %}">{{ category.name }}</a>
			</li>
    		{% else %}
			<li class="sidebar-item">
    		<a class="sidebar-link" href="{% url 'webapp:category_view' category.cat_id %}">{{ category.name }}</a>
			</li>
    		{% endifequal %}

  		{% endfor %}
  		</div>
	</ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}