<!-- Header -->
{% include "webapp/header.html" %}

<!-- Title -->
<div class="container">
	<h3 class="page-title">{{ title }}</h3>
	<h4>We have processed your request. Please be patient, we will contact you as soon as possible.</h4>
</div>

<!--  Footer  -->
{% include "webapp/footer.html" %}