/* ------------------*/ /* -------->>> STRUCTURE <<<---------*/ /* ------------------*/

html {
	height: 100%;
}

/****** Body Structure *********/

body {
	position: relative;
	padding-bottom: 10rem;
	margin-top: 3.4rem;
	min-height: 85%;
	/*height: 100%;*/
}

/****** Banner Structure *********/
.banner {
	height: 17rem;
}

@media (min-width: 768px) {
	.banner {
		margin-top: 7.3rem;
	}	
}



.banner .banner-title {
	position: relative;
	margin: 0rem 0rem 0rem 0rem;
	width: auto;
	text-align: center;
	font-size: 2rem;
	top: 3.5rem;
}

@media (min-width: 576px) {
	.banner .banner-title {
		font-size: 2rem;
		top: 7rem;
	}
}

@media (min-width: 768px) {
	.banner .banner-title {
		top: 8rem;
	}
}

/****** Sidebar Structure *********/


@media (min-width: 768px){
		.content-div {
			border-top: 0px;
			border-right: 0px;
			border-bottom: 0px;
			border-left: 1px;
			border-color: black;
			border-style: solid;
			width: 75%;
			padding-left: 5rem;
	}
}


.sidebar {
	padding-left: 0px;
}

#sidebar-item-list {
	display: none;
}

.sidebar-div {
	margin-right: 0rem;
}

.sidebar h5 {
	margin: 1rem 0rem 0.5rem; 
	padding-bottom: 0.5rem;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 3px;
	border-left: 0px;
	border-color: black;
	border-style: solid;
}


.sidebar-item {	
	margin-top: 0.5rem;
	border-width: 0.1rem;
}

.sidebar-link {
	padding: 0.25rem 0.5rem;
}

.sidebar .sidebar-link {
	color: black;
	display: block;
}


@media (min-width: 768px) {
	#sidebar-item-list {
		display: block;
	}
}

#category-list {
	text-align: center;
}

/****** Index Structure *********/




/****** Nav Structure *********/

.nav-link {
	padding: 1rem;
	border-style: solid;
	border-width: 4px;
	border-color: white;
}

.nav-item {
	padding: 0rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-item-link {
	margin: 0.5rem 0rem 0rem;
}

.navbar .navbar-nav {
	display: inline-block;
}

.navbar {
	box-shadow: 0px 2px 3px #bbbbbb;
	padding: 0;
}

.nav .active .nav-link{
	text-decoration: underline;
}



@media (min-width: 576px) {

	.navbar {
		text-align: center;
	}

	.navbar-nav .nav-md+.nav-md {
    	margin-left: 2rem;
	}
}


@media (min-width: 768px) {

	.navbar-nav .nav-lg+.nav-lg {
    margin-left: 4.5rem;
}

	.nav-item-link {
		margin: 3rem 0rem 0rem;
	}

}

.home-logo-small {
	height: 3em;
	border: 1px;
	padding: 0.5rem 0.75rem;
	float: right;
}

/****** Button  Typography *********/

 .btn {
 	margin-top: 0.5rem;
 }

/****** Container Structure *********/

.container {
	height: 100%;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

@media (min-width: 576px) {
	.container {
		margin-top: 6rem;
	}
}

@media (min-width: 768px) {
	.container {
		height: 100%;
		margin-top: 10rem;
	}
}


@media (min-width: 992px) {

	.container-xtra-small {
		width: 720px;
		max-width: 100%;
	}

}

@media (min-width: 1200px) {

	.container-small {
		width: 960px;
	}

	.container-xtra-small {
		width: 720px;
	}
}



.container-text-alignment ul, p, h4{
	text-align: left;
}

.index-description {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.container-center {
	text-align: center;
}

/****** Header Structure *********/

.page-title {
	text-align: center;
}




/****** Forms Structure *********/

input {
	width: 100%;
}

textarea {
	width: 100%;
}

.input-container {
	padding: 0.5rem 0rem;
}

@media (min-width: 768px) {

	.input-container-left {
		padding: 0.5rem 0.25rem 0.5rem 0rem;
	}

	.input-container-middle {
		padding: 0.5rem 0.25rem;
	}

	.input-container-right {
		padding: 0.5rem 0rem 0.5rem 0.25rem;
	}

}

::-webkit-input-placeholder {
   padding: 0rem 0rem 0rem 1rem;
}

:-moz-placeholder { /* Firefox 18- */
   padding: 0rem 0rem 0rem 1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding: 0rem 0rem 0rem 1rem;
}

:-ms-input-placeholder {  
   padding: 0rem 0rem 0rem 1rem;
}


/****** Card Structure *********/

.row {
	margin: 0 auto;
	text-align: center;
}


.card {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

@media (min-width: 576px) {
	.card {
		display: inline-block;
		width: 20rem;
		margin: 1rem 2rem 1rem 0rem;
		overflow: hidden;
	}
}

.card-back {
	height: 2.5rem;
	overflow: hidden;
}


.img-container {
	position: relative;
	width: 100%;
	height: 15rem;
	overflow: hidden;
}

.img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


.img-container .portrait {
	width: 100%;
	height: auto;
}

.card-title a {
	display: block;
}

.card:hover .card-img-overlay{
	top: 0px;
	-webkit-transition: top .50s ease;
	-moz-transition: top .50s ease;
}

.card-img-overlay {
	top: 240px;
	-webkit-transition: top .50s ease;
	-moz-transition: top .50s ease;
}

.card-img-overlay * {
	padding-bottom: 1rem;
}

.card-block {
	text-align: left;
	padding-bottom: 0.8rem
}

.card-block p {
	max-height: 15rem;
}



/****** Post Structure *********/

.post-title {
	padding: 1rem 0rem;
}

.post-information {
	padding: 0rem;
}


/****** Carousel Structure *********/



.carousel-inner>.carousel-item>img {
	display: block;
	max-height: 100%;
	max-width: 75%;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.carousel-slide {
	height: 20rem;
}

.carousel-item {
	position: relative;
	height: 10rem;
}

@media (min-width: 576px) {
	.carousel-item {
		height: 15rem;
	}

}

@media (min-width: 768px) {
	.carousel-item {
		height: 15rem;
	}
}

@media (min-width: 992px) {
	.carousel-item {
		height: 20em;
	}

}



/****** Pagination Structure *********/

.pagination-container {
	text-align: center;
}

/****** Footer Structure *********/


footer {

  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	height: 10rem;
	text-align: center;
}

footer p {
	display: inline-block;
	padding-top: 1.5rem;
	text-align: left;
}

.logo {
	padding-top: 1.5rem
}

.logo img {
	height: 7rem;
}


.social-logo  {
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin: 0rem 0.5rem 0rem 0.5rem;
	padding: 0rem 0.15rem 0rem 0.15rem;
}



@media (min-width: 992px){
	.social {
		padding-top: 1.5rem;
	}
}


.required {
	text-align: left;
}

.footer-disclaimer {
	padding-left: 0rem;
	padding-right: 0rem;
}

.footer-disclaimer p{
	padding-top: 0rem;
}