/* ------------------*/ /* -------->>> TYPOGRAPHY <<<---------*/ /* ------------------*/

html {
	
}

/****** Header Typography *********/

h1.title {
	
}



/****** Navigation Typography *********/

.navbar {
	background-color: white;
}

.navbar-toggler {
	font-size: 1.5rem;}

nav a {
	color: #ec9f2e;
}

.nav-home-logo {
	display: none;
}

.nav-item .home-logo {
	height: 7rem;
}

.nav-link:hover {

	color: #404040;
}


@media (min-width: 768px){
		.nav-home-logo {
			display: block;
		}
		.nav-home-text {
			display: none;
		}
}

/****** Button  Typography *********/

 .btn {
	background-color: #ec9f2e;
	border: 0rem;
	border-radius: 0.90rem;
	color: white;
}

/****** Banner Structure *********/

.banner {
	background-image: url("../image/banner-background.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner .banner-title {
	color: white;
	text-shadow: 0px 2px 5px black;
}

/****** Index Typography *********/

.first-paragraph .first-character {
	float: left; 
	color: #ec9f2e; 
	font-size: 5rem; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
}


/****** Sidebar Typography *********/

.sidebar .sidebar-item {
	border-width: 0.1rem;
	border-style: solid;
	border-color: white;
}

.sidebar .active {
	background-color: #ec9f2e;
	border-style: solid;
	border-color: black;
}

.sidebar .active a {
	color: white;
}

.sidebar .sidebar-item:hover{
	background-color: #ec9f2e;
	border-color: black;
}

.sidebar-item a:hover {
	text-decoration: none;
	color: white;
}

/****** Sidebar Carousel *********/

.carousel-control.right,  .carousel-control.left{
	background-image: none;
}

.carousel-button {
	width: 1rem;
	height: 1rem;
}



.carousel-control {
	color: black;
}

.carousel-control:hover {
	color: #ec9f2e;

}


/****** Cards Typography *********/

.card {
	background-color: #000;
}


.card-block a {
	color: white;
}


.card-img-overlay {
	background-color: #ec9f2e;
}

.card-img-overlay p {

	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5rem;
	max-height: 12rem;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;

	color: white;
}

/****** Pagination Typography *********/

.page-item.active .page-link{
	background-color: #ec9f2e;
	border-color: #ec9f2e;
}



.page-item .page-link:hover, .page-item.active .page-link:hover{
	background-color: #404040;
}

/****** Post Typography *********/

div ul {
	list-style: none;
}

/****** Forms Typography *********/

input {
	background-color: whitesmoke;
	border-style:none;
}

textarea {
	background-color: whitesmoke;
	border-style:none;
}

/****** Footer Typography *********/

footer ul {

	list-style: none;
}

footer {
	background-color: #404040;
}

footer * {
	color: #ec9f2e;
	background-color: #404040;
}

.social-logo a:hover {
	background-color: #ec9f2e;
}

.social-logo {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.facebook {
	background-image: url("../image/facebook-icon.png");
}

.facebook:hover {
	background-image: url("../image/facebook-icon-hover.png");
}


.youtube {
	background-image: url("../image/youtube-icon.png");
}

.youtube:hover {
	background-image: url("../image/youtube-icon-hover.png");
}


.linkedin {
	background-image: url("../image/linkedin-icon.png");
}

.linkedin:hover {
	background-image: url("../image/linkedin-icon-hover.png");
}

.required {
	color: red;
}

.footer-disclaimer {
	font-size: 0.75rem;
}

.footer-disclaimer a:hover {
	text-decoration: none;
	color: white;
}